{% extends 'back-office/pages/back-office.html.twig' %}

{% block title %}Ajouter une Ligne{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .form-container {
            max-width: 600px;
            margin: 0 auto;
        }
        .form-control {
            max-width: 100%;
        }
        .submit-btn {
            margin-top: 20px;
        }
    </style>
{% endblock %}

{% block main_content %}
{{ parent() }}
<br><br><br><br><br><br>
    <div class="container mt-4">
        <div class="form-container">
            <h2 class="text-center mb-4">Ajouter Ligne</h2>
            
            {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'needs-validation'}}) }}
            
                <div class="row mb-3">
                    <div class="col-md-6">
                        {{ form_row(form.depart, {
                            'attr': {
                                'class': 'form-control',
                                'placeholder': 'Enter departure'
                            },
                            'label': 'Départ',
                            'row_attr': {'class': 'form-group'}
                        }) }}
                    </div>
                    
                    <div class="col-md-6">
                        {{ form_row(form.arret, {
                            'attr': {
                                'class': 'form-control',
                                'placeholder': 'Enter stop'
                            },
                            'label': 'Arrêt',
                            'row_attr': {'class': 'form-group'}
                        }) }}
                    </div>
                </div>
                
                <div class="row mb-3">
                    <div class="col-md-6">
                        {{ form_row(form.type, {
                            'attr': {
                                'class': 'form-control',
                                'placeholder': 'Enter type'
                            },
                            'label': 'Type',
                            'row_attr': {'class': 'form-group'}
                        }) }}
                    </div>
                    
                    <div class="col-md-6">
                        {{ form_row(form.admin_id, {
                            'attr': {
                                'class': 'form-control',
                                'placeholder': 'Admin ID'
                            },
                            'label': 'Admin ID',
                            'row_attr': {'class': 'form-group'}
                        }) }}
                    </div>
                </div>
                
                <div class="text-center submit-btn">
                    <button type="submit" class="btn btn-primary px-4">Submit</button>
                </div>
                
            {{ form_end(form) }}
        </div>
    </div>
    
    
{% endblock %}