{# templates/registration/register.html.twig #}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">Register</h1>

        {{ form_start(registrationForm, {'attr': {'novalidate': 'novalidate', 'class': 'needs-validation'}}) }}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(registrationForm.email, {
                        'attr': {'class': 'form-control'},
                        'label_attr': {'class': 'form-label'}
                    }) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(registrationForm.plainPassword, {
                        'attr': {'class': 'form-control'},
                        'label_attr': {'class': 'form-label'}
                    }) }}
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-4">
                    {{ form_row(registrationForm.nom, {
                        'attr': {'class': 'form-control'},
                        'label_attr': {'class': 'form-label'}
                    }) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(registrationForm.prenom, {
                        'attr': {'class': 'form-control'},
                        'label_attr': {'class': 'form-label'}
                    }) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(registrationForm.telephonne, {
                        'attr': {'class': 'form-control'},
                        'label_attr': {'class': 'form-label'}
                    }) }}
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-6">
                    {{ form_row(registrationForm.photo_profil, {
                        'attr': {'class': 'form-control'},
                        'label_attr': {'class': 'form-label'},
                        'help': 'Upload a profile photo (JPEG/PNG, max 2MB)'
                    }) }}
                </div>
                <div class="col-md-6 d-flex align-items-end">
                    {{ form_row(registrationForm.agreeTerms, {
                        'label_attr': {'class': 'form-check-label'},
                        'attr': {'class': 'form-check-input'}
                    }) }}
                </div>
            </div>

            <div class="mt-4">
                <button type="submit" class="btn btn-primary btn-lg">
                    <i class="fas fa-user-plus me-2"></i> Register
                </button>
            </div>
        {{ form_end(registrationForm) }}
    </div>

    <style>
        .form-check {
            padding-left: 0;
        }
        .form-check-input {
            margin-left: 0;
            margin-right: 0.5rem;
        }
        .invalid-feedback {
            display: block;
        }
    </style>
{% endblock %}