{% extends 'front-office/front.html.twig' %}

{% block title %}Stations{% endblock %}

{% block main_content %}
<br><br><br><br><br><br>
    <div class="container mt-4">
        <h1>Stations</h1>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}

        <table class="table table-striped" border="1">
            <thead>
                <tr>
                    <th>Ligne</th>
                    <th>Nom</th>
                    <th>Lcalisation</th>
                    <th> Administrateur</th>
                
                </tr>
            </thead>
            <tbody>
                {% for station in stations %}
                    <tr>
                        <td>{{ station.id_ligne }}</td>
                        <td>{{ station.nom }}</td>
                        <td>{{ station.localisation }}</td>
                        <td>{{ station.id_admin }}</td>
                        <td>
                            <a href="{{ path('station_edit', {'id': station.id}) }}" class="btn btn-sm btn-primary">Edit</a>
                            <a href="{{ path('station_delete', {'id': station.id}) }}" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure?')">Delete</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7" class="text-center">Aucune station</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('station_add') }}" class="btn btn-primary">Ajouter une station</a>
    </div>
{% endblock %}
